* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centro {
    position: relative;
}

.caja {    
    position: absolute;    
    width: 40px;
    height: 50px;    
    background-color: tomato;
    display: flex;
    animation: comer 1 1s;
}

.titulo {
    text-align: center;
    background: #000;
    font-weight: 600;    
    width: 100%;
    height: 100%;
}

@keyframes comer {
    to {
        top: 160px;
        width: 0;
        height: 0;
        opacity: 0;
        transform: translateX(45px);
    }
}