* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.columna {
    display: flex;
    padding: 10px;
}

.columna__izquierda {
    position: relative;
}

.columna__derecha {
    min-height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagina__titulo {
    color: #fff;
    margin: 10px;
}